@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WEBSITE.Context.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>

    .container {
        width: 500px;
        margin: auto;
        text-align: center;
    }

    .pagination {
        width: 400px;
        margin-left: 50px;
    }

        .pagination a {
            display: block;
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h2 id="prMan">Quản Lý Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Tìm tên sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Id
        </th>
        <th>
            Giá Tiền
        </th>
        <th>
            Mô Tả
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content("~/Content/images/" + item.Avatar)" style="width:50%" />
                @*Html.DisplayFor(modelItem => item.Avatar)*@
                @*@Html.DisplayFor(modelItem => item.Anhbia)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.ActionLink("sửa", "Edit", new { id = item.id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)  of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currenFilter = ViewBag.currenFilter }))